//переменные 
$font-family: 'Montserrat', sans-serif;


html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
body{
  max-width: 1440px;
  margin: 0 auto;
}

.container{
  padding: 0 50px;
}

.h-730px{
  height: 730px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_soc_icon{
    display: flex;
    gap: 15px;
  }
}
.category{
  &_item{
    border: 1px solid #000000;
    border-radius: 20px;
    justify-content: space-between;
    img{
      width: 100%;
    }
    span{
      margin-top: 25px;
      display: inline-block;
      font-weight: 500;
      font-size: 40px;
      color: #000000;
    }
  }
  &_column_item{
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
      width: 100%;
    }
    span{
      margin-top: 25px;
      display: inline-block;
      font-weight: 500;
      font-size: 40px;
      color: #000000;
    }
    &_f{
      border: 1px solid #000000;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      span{
        margin-top: 25px;
        display: inline-block;
        font-weight: 500;
        font-size: 40px;
        color: #000000;
      }
      img{
        border-radius: 20px;
      }
    }
  }
}

.vk_testimonials{
  justify-content: space-between;
  &_item{
    width: 360px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 50px 25px;
    .person{
      border-bottom: 1px solid #5B6D9C;
      justify-content: space-around;
      padding-bottom: 15px;
    }
    .person-img{
      border-radius: 50%;
      border: none;
    }
  }
}

.footer{
  background: #5B6D9C;
  padding-top: 70px;
  padding-bottom: 70px;
  &_phone{
    align-items: center;
    &_tel{
      a{
        font-weight: 800;
        font-size: 48px;
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }
  &_copyright{
    margin-top: 80px;
    span{
      font-weight: 500;
      font-size: 36px;
      color: #FFFFFF;
    }
  }
  &_menu_link{
    list-style: none;
    a{
      font-weight: 500;
      font-size: 36px;
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}