@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

svg{
  cursor: pointer;
}
#lipodat_company{
  margin-top: 40px;
  margin-bottom: 40px;
}

.d-flex{
  display: flex;
}

.j-c-c{
  justify-content: center;
}

.j-c-s-b{
  justify-content: space-between;
}

.a-i-c{
  align-items: center;
}

.column{
  flex-direction: column;
}

.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}

.w-33{
  width: 33%;
}

.order-1{
  order: 1;
}

.order-2{
  order: 2;
}

.gap-15px{
  gap: 15px;
}

.gap-30px{
  gap: 30px;
}

.float-r{
  float: right;
}

.border-radius-20px{
  border-radius:20px;
}

.pl-50px{
  padding-left: 50px;
}
.pr-50px{
  padding-right: 50px;
}

.text-r{
  text-align: right;
}

.text-c{
  text-align: center;
}

.mt-10px{
  margin-top: 10px;
}

.mt-30px{
  margin-top: 30px;
}
.mt-50px{
  margin-top: 50px;
}

.h-60{
  height: 60%;
}

.h-40{
  height: 40%;
}

.h-50{
  height: 50%;
}

.h3{
  font-weight: 700;
  font-size: 64px;
  color: #000000;
}

.section-p{
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.silver{
  color: #A4ACAD;
}
.arrow{
  position: relative;
  &::before{
    content: " ";
    background: url('../image/arrow.svg') no-repeat center center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: -40px;
  }
}

.addToCart{
  display: flex;
  background: none;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  span{
    font-weight: 600;
    font-size: 20px;
    color: #000000;
  }
  svg{
    margin-left: 5px;
  }
}

.pb-50px{
  padding-bottom: 50px;
}
.i-block{
  display: inline-block;
}
.left-0{
  left: 0;
}
.top-0{
  top: 0;
}


@media (max-width: 800px) {
  .w-100-m {
      width: 100%;
    }
    .w-50-m{
      width: 50%;
    }
    .gap-10px-m{
      gap: 10px;
    }
    .mt-30px-m{
      margin-top: 30px;
    }
    #lipodat_company{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .h3{
      font-size: 25px;
    }
    .section-p{
      font-size: 14px;
    }
    .j-c-c-m{
      justify-content: center;
    }
    .a-i-c-m{
      align-items: center;
    }
}